@charset "UTF-8";
/* ETAPES de FONCTIONNEMENT */
@media only screen and (min-width: 800px) {
  html {
    margin-left: 17%;
    margin-right: 17%;
  }
}

/* Body */
body {
  margin: 0;
  justify-content: center;
}

/* Polices */
@font-face {
  font-family: "shrikhandregular";
  src: url("../../polices/shrikhand-regular-webfont.woff2") format("woff2"), url("../../polices/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../../polices/roboto-bold-webfont.woff2") format("woff2"), url("../../polices/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../../polices/roboto-medium-webfont.woff2") format("woff2"), url("../../polices/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../../polices/roboto-light-webfont.woff2") format("woff2"), url("../../polices/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "robotomedium", sans-serif;
}

h2 {
  font-family: "robotolight", sans-serif;
}

p {
  font-family: "robotomedium", sans-serif;
}

/* Header */
header {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  margin: 0;
}
header p {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
header p img {
  width: 180px;
  height: auto;
}
header i {
  position: absolute;
  left: 20px;
  top: 18px;
  font-size: 20px;
  color: black;
}

footer {
  background-color: #262626;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
}
footer .image {
  margin: 0;
  margin-bottom: 20px;
}
footer .image img {
  width: 120px;
  height: auto;
}
footer .proposition {
  color: #fff;
  font-family: "robotomedium";
}
footer .proposition i {
  margin-right: 10px;
  color: #fff;
  width: 15px;
  font-size: 12px;
}
footer p {
  margin: 0;
  margin-bottom: 5px;
  font-family: "robotolight";
}
footer p a {
  color: #fff;
  text-decoration: none;
}

/* Localisation du client */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e5e5e5;
  border-top: 3px solid #cccccc;
}
.localisation .localisation_ville {
  display: flex;
  margin-right: 35px;
}
.localisation .localisation_ville p {
  font-size: 17.5px;
  margin: 0;
  margin-left: 20px;
}
.localisation .localisation_ville i {
  font-size: 17.5px;
}

/* Présentation du site */
.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F2F2F2;
  padding-top: 30px;
  padding-bottom: 60px;
}
.presentation h1 {
  width: 80%;
  font-size: 25px;
  text-align: center;
  margin: 0;
}
.presentation h2 {
  width: 90%;
  font-size: 17.5px;
  color: #8c8c8c;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.presentation .btn_explorer {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 5px 5px 5px #cccccc;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.presentation .btn_explorer a {
  text-decoration: none;
}
.presentation .btn_explorer a p {
  color: #fff;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
}

/* Etapes de fonctionnement du site */
.fonctionnement {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.fonctionnement h1 {
  margin-top: 35px;
  margin-left: 15px;
}
.fonctionnement .etapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.fonctionnement .etapes .choisir {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  width: 90%;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px #e5e5e5;
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  .fonctionnement .etapes .choisir {
    width: 600px;
    margin: 20px;
  }
}
.fonctionnement .etapes .choisir .numero {
  display: flex;
  position: relative;
  left: -13px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 25px 25px 25px 25px;
}
.fonctionnement .etapes .choisir .numero span {
  font-family: "robotomedium", sans-serif;
  color: #fff;
}
.fonctionnement .etapes .choisir p {
  height: 20px;
  width: 200px;
  margin-left: 30px;
}
.fonctionnement .etapes .choisir .icon {
  text-align: center;
  width: 22px;
  margin-left: 5px;
}
.fonctionnement .etapes .choisir .icon i {
  color: grey;
  font-size: 20px;
}
.fonctionnement .etapes .composer {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  width: 90%;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px #e5e5e5;
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  .fonctionnement .etapes .composer {
    width: 600px;
    margin: 20px;
  }
}
.fonctionnement .etapes .composer .numero {
  display: flex;
  position: relative;
  left: -13px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 25px 25px 25px 25px;
}
.fonctionnement .etapes .composer .numero span {
  font-family: "robotomedium", sans-serif;
  color: #fff;
}
.fonctionnement .etapes .composer p {
  height: 20px;
  width: 200px;
  margin-left: 30px;
}
.fonctionnement .etapes .composer .icon {
  text-align: center;
  width: 22px;
  margin-left: 5px;
}
.fonctionnement .etapes .composer .icon i {
  color: grey;
  font-size: 20px;
}
.fonctionnement .etapes .deguster {
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  width: 90%;
  height: 70px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px #e5e5e5;
  margin-bottom: 20px;
  background-color: #efe6fa;
}
@media only screen and (min-width: 600px) {
  .fonctionnement .etapes .deguster {
    width: 600px;
    margin: 20px;
  }
}
.fonctionnement .etapes .deguster .numero {
  display: flex;
  position: relative;
  left: -13px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #9356DC;
  border-radius: 25px 25px 25px 25px;
}
.fonctionnement .etapes .deguster .numero span {
  font-family: "robotomedium", sans-serif;
  color: #fff;
}
.fonctionnement .etapes .deguster p {
  height: 20px;
  width: 200px;
  margin-left: 30px;
}
.fonctionnement .etapes .deguster .icon {
  text-align: center;
  width: 22px;
  margin-left: 5px;
}
.fonctionnement .etapes .deguster .icon i {
  color: grey;
  font-size: 20px;
}
.fonctionnement .etapes .deguster .icon i {
  color: #9356DC;
}

/* Les différents restaurants */
.restaurants {
  display: flex;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  padding-top: 25px;
  padding-bottom: 50px;
}
.restaurants h1 {
  margin-left: 15px;
}
.restaurants .choix_restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.restaurants .choix_restaurant a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}
.restaurants .choix_restaurant figure {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  width: 90%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 5px 5px #e5e5e5;
  overflow: hidden;
}
@media only screen and (min-width: 600px) {
  .restaurants .choix_restaurant figure {
    width: 300px;
  }
}
.restaurants .choix_restaurant figure .nouveau {
  position: absolute;
  width: 65px;
  right: 10px;
  top: 15px;
  margin: 0;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #2c9c81;
  background-color: #99E2D0;
  border-radius: 3px 3px 3px 3px;
}
.restaurants .choix_restaurant figure .image {
  width: 100%;
  height: 180px;
  margin: 0;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}
@media only screen and (min-width: 800px) {
  .restaurants .choix_restaurant figure .image {
    height: 180px;
  }
}
.restaurants .choix_restaurant figure .image img {
  width: 100%;
  height: auto;
}
.restaurants .choix_restaurant figure figcaption {
  background-color: #fff;
  height: 60px;
  border-radius: 0px 0px 15px 15px;
  padding-left: 10px;
  padding-top: 15px;
}
.restaurants .choix_restaurant figure figcaption p {
  border-radius: inherit;
  color: black;
  font-size: 17px;
  margin: 0;
}
.restaurants .choix_restaurant figure figcaption .lieu {
  font-family: "robotolight";
}
.restaurants .choix_restaurant figure figcaption .like {
  position: relative;
  text-align: right;
  bottom: 40px;
  right: 25px;
}
.restaurants .choix_restaurant figure figcaption .like i {
  font-size: 25px;
}

img {
  width: 100%;
  height: auto;
}

.menu_restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-top: -50px;
  background-color: #F2F2F2;
  border-radius: 30px 30px 0px 0px;
}
@media only screen and (min-width: 1200px) {
  .menu_restaurant {
    margin-top: -200px;
  }
}
.menu_restaurant h1 {
  font-family: "shrikhandregular";
  width: 100%;
  justify-content: left;
  padding-left: 20px;
  font-size: 24px;
  margin-top: 10px;
}
.menu_restaurant .like {
  position: absolute;
  right: 47px;
  top: 13px;
}
.menu_restaurant .like i {
  font-size: 25px;
}

.menus {
  position: relative;
  margin-bottom: 15px;
}
.menus h2 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #737373;
}
.menus .barre {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 10px;
}
.menus .menu {
  position: relative;
  width: 300px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 5px 5px #cccccc;
  padding: 10px;
  margin-bottom: 15px;
}
.menus .menu .titre {
  margin: 0;
}
.menus .menu .sous_titre {
  font-family: "robotolight";
  width: 230px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #404040;
  margin: 0;
}
.menus .menu .prix {
  margin: 0;
  position: absolute;
  font-size: 15px;
  right: 20px;
  bottom: 10px;
}
@media only screen and (min-width: 600px) {
  .menus {
    margin: 10px;
  }
}

.bouton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn_commander {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 5px 5px 5px #cccccc;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin-top: 20px;
  margin-bottom: 50px;
}
.btn_commander a {
  text-decoration: none;
}
.btn_commander a p {
  color: #fff;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
