@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typographie";
@import "./layouts/header";
@import "./pages/accueil";

footer {
    background-color: darken($color-grey, 80%);
    p {
        margin: 0;
        img {
            width: 180px;
            height: auto;
        }
    }
}