/* Polices */

@font-face {
    font-family: 'shrikhandregular';
    src: url('../../polices/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../../polices/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../../polices/roboto-bold-webfont.woff2') format('woff2'),
         url('../../polices/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../../polices/roboto-medium-webfont.woff2') format('woff2'),
         url('../../polices/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../../polices/roboto-light-webfont.woff2') format('woff2'),
         url('../../polices/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'robotomedium';
}

h2 {
    font-family: 'robotolight';
}

p {
    font-family: 'robotomedium';
}