/* Animation de chargement de la page */
.loading {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: $color-grey;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
    animation: loading 1.5s both;
    &__spinner {
        width: 160px;
        height: 160px;
        display: inline-block;
        position : fixed;
        top: 275px;
        border: 3px solid $color-primary;
        border-radius: 50%;
        border-top-color: $color-white;     
        animation: spin 1.5s ease-in-out; 
    }    
}

/* Localisation du client */
.localisation {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 50px;
    background-color: darken($color-grey, 5%);
    border-top: 3px solid darken($color-grey, 15%);
    .localisation_ville {
        display: flex;
        margin-right: 35px;
        p {
            font-size: 17.5px;
            margin: 0;
            margin-left: 20px;        
        }
        i {
            font-size: 17.5px;
        }
    }
}

/* Présentation du site */
.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-grey;
    padding-top: 30px;
    padding-bottom: 60px;
    h1 {
        width: 80%;
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
    h2 {
        width: 90%;
        font-size: 17.5px;
        color: darken($color-grey, 40%);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .btn_explorer {
        @include bouton;
    }
}

/* Etapes de fonctionnement du site */
.fonctionnement {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    h1 {
        margin-top: 35px;
        margin-left: 15px;
    }
    .etapes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        .choisir {
            @include etape;
        }
        .composer {
            @include etape;
        }
        .deguster {
            @include etape;
            background-color: lighten($color-primary, 34%);
            .icon i {
                color: $color-primary;
            }
        }
    }
}

/* Les différents restaurants */
.restaurants {
    display: flex;
    flex-wrap: wrap;
    background-color: $color-grey;
    padding-top: 25px;
    padding-bottom: 50px;
    h1 {
        margin-left: 15px;
    }
    .choix_restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        @include restaurant;
    }
}