@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ETAPES de FONCTIONNEMENT */
@mixin etape {
    display: flex;
    align-items: center;
    background-color: $color-grey;
    width: 90%;
    height: 70px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px darken($color-grey, 5%);
    margin-bottom: 20px;
    @media only screen and (min-width: 600px) {
        width: 350px;
        margin: 20px;
    }
    .numero {
        display: flex;
        position: relative;
        left: -13px;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: $color-primary;
        border-radius: 25px 25px 25px 25px;
        span {
            font-family: 'robotomedium', sans-serif;
            color: $color-white;
        }
    }
    p {
        height: 20px;
        width: 200px;
        margin-left: 30px
    }
    .icon {
        text-align: center;
        width: 22px;
        margin-left: 5px;
        i {
            color: grey;
            font-size: 20px;
        }
    }   
}

@mixin restaurant {
    a {
        display: flex;
        justify-content: center;
        text-decoration: none;  
        margin: 5px;           
    }
    figure {
        position: relative;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
        width: 90%;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 5px 5px 5px darken($color-grey, 5%);
        overflow: hidden;
        @media only screen and (min-width: 600px) {
            width: 300px;
        }
        .nouveau {
            position: absolute;
            width: 65px;
            right: 10px;
            top: 15px;
            margin: 0;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 5px;
            padding-bottom: 5px;            
            color: darken($color-tertiary, 35%);
            background-color: $color-tertiary;
            border-radius: 3px 3px 3px 3px;        
        }
        .image {
            width: 100%;
            height: 180px;
            margin: 0;
            border-radius: 15px 15px 0px 0px;
            overflow: hidden;
            @media only screen and (min-width: 800px) {
                height: 180px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        figcaption {
            background-color: $color-white;
            height: 60px;
            border-radius: 0px 0px 15px 15px;
            padding-left: 10px;
            padding-top: 15px;
            p {
                border-radius: inherit;
                color: black;
                font-size: 17px;
                margin: 0;
            }
            .lieu {
                font-family: "robotolight";
            }
            .like {
                position: relative;
                text-align: right;
                bottom: 40px;
                right: 25px;
                i {
                    font-size: 25px;
                }
            }
        }
    }
}

@mixin bouton {
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 5px 5px 5px darken($color-grey, 15%);
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);  
    a {
        text-decoration: none;
        p {
            color: $color-white;
            font-size: 16px;
            margin: 0;
            text-decoration: none;
        }  
    }
}

@mixin consommable {
    position: relative;
    width: 300px;
    background-color: $color-white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 5px darken($color-grey, 15%);
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        & > .ajouter {
            right: 0px;          
            i {
                transform: rotate(1turn); 
                transition: transform 550ms;             
            }
        }
        & > .prix {
            transform: translateX(-65px);
        }
        & > .titre {
            width: 170px;        
        }
        & > .sous_titre {
            width: 170px;
        }
    }
    .ajouter {
        /* Alignement du au centre de l'image */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        /*Positionnement du bloc ajouter*/
        position: absolute;
        right: -65px;
        top: 0px;
        bottom: 0px;
        /* Taille et couleur */
        width: 65px;
        height: 100%;
        background-color: $color-tertiary;
        /* Transition */
        transform-origin: right;
        transition: right 400ms ease-in-out;  
        i {
            color: $color-white;
            font-size: 25px;
        }
    }
    .titre {
        margin: 0;
        @include ellipsis;
        transition: width 400ms ease-in-out;
    }
    .sous_titre {
        font-family: 'robotolight';
        width: 230px;
        height: 20px;
        @include ellipsis;
        font-size: 13px;
        color: darken($color-grey, 70%);
        margin: 0;
        transition: width 400ms ease-in-out;
    }
    .prix {
        margin: 0;
        position: absolute;
        font-size: 15px;
        right: 20px;
        bottom: 10px;
        transition: transform 400ms ease-in-out;
    }
}

@mixin menu {
    h2 {
        margin-bottom: 5px;
        font-size: 16px;
        color: darken($color-grey, 50%);
    }
    .barre {
        width: 40px;
        height: 3px;
        background-color: $color-tertiary;
        margin-bottom: 10px;
    }
    .menu {
        @include consommable;
    }   
}